/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Many classes used in the views are straight from Bootstrap, and do not appear here */

/* Bootstrap overrides and additions */
.alert {
	/* Any bottom margin leaves a gap above the navbar, which looks bad */
	--bs-alert-margin-bottom: 0rem;
	color: black;
}

/* The default alert backgrounds are both super pale, so make them more vivid */
.alert-danger {
	--bs-alert-bg: #AA3333;
}

.alert-success {
	--bs-alert-bg: #33AA33;
}

.btn {
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	/* Add the same margin to the top as the bottom has */
	/* Without this headings in the middle of a page squish up against whatever is above them */
	margin-top: 0.5rem;
}

.navbar {
	/* Defaults to 0.5rem */
	--bs-navbar-nav-link-padding-x: 0.7rem;
}

.nav-text {
	/* We can't leave the display as inline, because then vertical padding would be ineffective */
	display: flex;
	padding: var(--bs-nav-link-padding-y) var(--bs-navbar-nav-link-padding-x);
}

/* I don't like how Bootstrap forces all tables to have a width of 100% */
.table {
	width: auto;
	border-left: 1px solid;
	border-right: 1px solid;
}

.table-warning {
	/* Similarly to success, the default is way too pale */
	/* Also change from yellow to red */
	--bs-table-bg: #AA2222;
}

/* Project-specific styles */
body {
	background-color: black;
	color: white;
	font-family: sans-serif;
}

p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

textarea {
	font-family: sans-serif;
	font-size: 100%;
	/* Chosen to be close to the height input table cells have when the page loads */
	/* Percentage-based heights don't work because <td>s don't have a set height; they adjust to their contents */
	height: 7em;
	/* Preserve newlines and other whitespace */
	white-space: pre-wrap;
	width: 100%;
}

/* General */
.alert p {
	margin: 0em;
}

.alert ul {
	margin: 0em;
}

.christmas-countdown {
	background-color: darkGreen;
	color: red;
	font-weight: bold;
}

.family-code {
	font-family: monospace;
	font-size: 150%;
}

/* Used both to stretch and compress */
.full-width {
	width: 100%;
}

/* Log in and log out buttons */
.session-button {
	margin: 0em var(--bs-navbar-nav-link-padding-x);
}

#demo-video {
	aspect-ratio: 560 / 315;
	max-width: 100%;
	width: 1120px;
}

/* Wishlist output (show and buy) tables */
.item-output {
	/* Prevent any user-defined field from taking over the page */
	max-height: 15em;
	overflow: auto;
	/* anywhere smartly breaks in the middle of words only when appropriate */
	overflow-wrap: anywhere;
	/* Preserve newlines and other whitespace */
	white-space: pre-wrap;
}

.item-priority-output-col {
	min-width: 6em;
}

.item-name-output-col {
	min-width: 10em;
}

.item-price-output-col {
	min-width: 5em;
}

.item-description-output-col {
	min-width: 15em;
	max-width: 50%;
}

td.item-link-output-col {
	white-space: nowrap;
}

.item-output-purchase-col {
	min-width: 15em;
}

/* Wishlist input (edit and create) tables */
.item-priority-input-col {
	min-width: 5em;
	/* A tiny width fits the column to the width of its children */
	width: 1%
}

.item-name-input-col {
	min-width: 10em;
	width: 15%;
}

.item-price-input-col {
	min-width: 5em;
	width: 10%;
}

.item-description-input-col {
	min-width: 10em;
	width: 25%;
}

.item-link-input-col {
	min-width: 10em;
	width: 20%;
}

.item-plurality-input-col {
	min-width: 15em;
	width: 20%;
}

.item-action-subtable {
	height: 7em;
}

.item-input-action-col {
	width: 1%;
}

td.item-input-action-col {
	text-align: center;
	white-space: nowrap;
}

/* Put borders between the buttons (but not after the last one) */
.item-action-subtable td {
	border-bottom: 1px solid white;
	padding: 1em 0em;
	text-align: center;
}

.item-action-subtable tr:last-child td {
	border-bottom-width: 0px;
}

.item-link-input {
	font-family: monospace;
}
